@import "tailwindcss";

:root {
  --primary-color: #39C5BB;
  --secondary-gradient: linear-gradient(45deg, #39C5BB, #008888);
  --custom-box-shadow: 0 4px 20px rgba(57, 197, 187, 0.4);
}

.font-inter-tight {
  font-family: 'Inter Tight', sans-serif;
}

body.hide-cursor, body.hide-cursor * {
  cursor: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
